.info-flag {
  height: 80px;
  width: 150px;
  background-size: cover;
  border-radius: 8px;
  margin: auto;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 13px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.info-confirmed strong {
  color: #CC1034;
}

.info-recovered strong {
  color: #7dd71d;
}

.info-deaths strong {
  color: #fb4443;
}

.leaflet-popup-content {
  width: auto;
  margin: 16px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  padding-top: 10px;
  text-align: center;
}